<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" [loggedInUser]="loggedInUser" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="black">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
            <mat-icon>menu</mat-icon>
          </button>
            </div>
            <div>
                <a fxFlex [ngClass]="{'selected' : page === 'main','main-icon' : page != 'main'}" routerLink="/main">MasszÁsz</a></div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end " fxHide.xs>
                <ul *ngIf="!loggedInUser" fxLayout fxLayoutGap="10px " class="navigation-items ">


                    <li><a [ngClass]="{ 'selected' : page==='register' }" routerLink="/register">Regisztrálás</a></li>
                    <li><a [ngClass]="{ 'selected' : page==='login' }" routerLink="/login">Bejelentkezés</a></li>

                </ul>
                <ul *ngIf="loggedInUser" fxLayout fxLayoutGap="10px " class="navigation-items ">

                    <li><a routerLink="/masseur" [ngClass]="{ 'selected' : page==='masseur' }">Masszőrök</a></li>
                    <li><a [ngClass]="{ 'selected' : page==='login' }" routerLink="/login" (click)='logout()'>Kijelentkezés</a></li>

                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>